body{
    background-color: rgb(243, 243, 162);
}
/* Comentarios en CSS */
h1{
    color: blue;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkpUZd2k8pyVIX_fQuKnF1iTPctsLt8GkQZg&usqp=CAU);
    background-size: cover;
}
.center{
    text-align: center;
}
#celeste{
    background-color: aqua;
}
/* Estilos para texto */
/* Color */
.color-titulo{
    color: blueviolet;
}
/* Alineacion */
.alinear{
    text-align: center;
}
/* Subrayado */
.subrayar{
    text-decoration:underline dashed;
}
/* Mayusculas-Minusculas-Capitalize */
.mayuscula{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
/* Espaciado del texto */
.espaciado-texto{
    /* Sangria */
    text-indent: 20px;
    /* Espaciado entre las letras */
    letter-spacing: 2px;
    /* Espacio vertical entre las oraciones */
    line-height: 1.9;
    /* Espaciado entre palabras */
    word-spacing: 4px;
}
.sombra{
    text-shadow: 2px 2px 2px green;
}
/* Fuentes */
.font-serif{
    font-family: serif;
}
.familia-serif{
    font-family: 'Times New Roman', Times, serif;
}
.font-sans-serif{
    font-family: sans-serif;
}
.familia-sans-serif{
    font-family: Arial, Helvetica, sans-serif;
}
.font-monospace{
    font-family: monospace;
}
.familia-monospace{
    font-family: 'Courier New', Courier, monospace;
}
.font-cursive{
    font-family: cursive;
}
.familia-cursiva{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.font-fantasy{
    font-family: fantasy;
}
.familia-fantasy{
    font-family:fantasy;
}
/* Fuentes de terceros (Google fonts) */
.google-fonts{
    font-family: "Workbench", sans-serif;
}
/* Estilos para listas */
.listas-armenian{
    list-style-type: armenian;
}
.listas-circle{
    list-style-type: circle;
}
.listas-square{
    list-style-type: square;
}
.listas-decimal{
    list-style-type: decimal;
}
.listas-disc{
    list-style-type: disc;
}
/* Estilos para tablas */
table, th, td{
    border: 1px solid black;
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 80%;
    margin: 10px;
}
tr:hover{
background-color: aquamarine;
}
th, td{
    padding: 10px;
}
th{
    background-color: blueviolet;
    height: 30px;
}
td{
    height: 40px;
}
/* Colores */
.colores{
    background-color: yellowgreen;
}
/* Model Box */
.caja1{
    background-color: red;
    width: 200px;
    height: 100px;
    border-style: double;
    border-radius: 12px;
}
.caja-interna{
    background-color: white;
    width: 50px;
    height: 50px;
    border: solid 2px black;
    padding-left: 3px;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-left: 10px;
    outline: 2px solid white;
    outline-offset: 4px;
}
.caja2{
    background-color: blue;
    width: 100px;
    height: 200px;
    border-style: inset;
    margin-top: 40px;
    margin-left: 50px;
}
.caja3{
    background-color: black;
    width: 300px;
    height: 300px;
    border-style: outset;
    border-color: white;
}
/* Propiedad Display */
.contenedor{
    background-color: black;
    display: flex;
}
.div-rojo{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
}

.div-verde{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
}
.span-rojo{
    background-color: red;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 15px;
    margin-left: 40px;
}
.span-verde{
    background-color: green;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 15px;
}
/* Width y max-width */
.max{
    margin: auto;
    border: 2px solid black;
    max-width: 500px;
    background-color: azure;
}
.width{
    margin: auto;
    border: 2px solid black;
    width: 500px;
    background-color: azure;
}
/* Display:none vs  visibility:hidden */
.none{
    display: none;
}
.hidden{
    visibility: hidden;
}
/* Position */
.div-position{
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    max-width: 80%;
}
.position{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    word-spacing: 3px;
}
.p2{
    position: relative;
    top: 15px;
    left: 15px;
    color: red;
}
/* z-index */
.div-index{
    background-color: black;
}
.tit{
    color: white;
}
.z-index{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 50%;
}
/* Overflow */
.overflow{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-color: coral;
    overflow: auto;
    
}
/* Float */
.float{
    float: right;
}
/* Combinadores de seleccion */
div>p{
    background-color: aquamarine;
}

/* Footer */
.footer{
    margin-top: 199px;
}
