.tituloPrincipal{
    color: red;
}
.box{
    height: 300px;
    width: 300px;
    background-color: aqua;
    border: 2px solid black;
}
#p2{
    color: red;
}
#p3{
    color: blue;
}
.red-background{
    background-color: red;
    border: 1px solid black;
}